.jumbotron {
    color: blue;
    text-align: center;
    background-image: url(http://source.unsplash.com/1000x500);
    background-size: cover;
}

.jumbotron h1 {
    font-size: 50px;
    color: white;
}

.navbar{
    background-color: aqua limportant;
    border: 0px;
    margin-bottom: 0px;
    border: none;
}