    [class^="col-"] {
    border: 1px solid;
}

[class^="col-"] img {
    width: 100%;
}

.col {
    width: 100%;
    height: auto;
}

.img1 {
    width: 100%;
}

.img2 {
    width: 100%;
    border-radius: 50%;
}

header {
    text-align: center;
    height: 300px;
    border: 2px solid blue;
    background-image: url(http://source.unsplash.com/1000x500);
    background-size: cover;
